aiohttp==3.7.4.post0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
async-timeout==3.0.1
attrs==23.2.0
blinker==1.7.0
certifi==2023.11.17
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
discord-py==1.7.3
distro==1.9.0
exceptiongroup==1.2.0
flask==2.1.0
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
itsdangerous==2.1.2
jinja2==3.1.3
markupsafe==2.1.4
multidict==6.0.4
openai==0.27.0
pydantic==2.6.0
pydantic-core==2.16.1
requests==2.31.0
sniffio==1.3.0
tqdm==4.66.1
typing-extensions==4.9.0
urllib3==2.2.0
werkzeug==2.0.2
yarl==1.9.4
